
#nav ul.main-menu > li {
    height: auto;
    background: #233152;
    width: auto;
    padding: 5px;
    margin-bottom: 10px;
}

#nav ul.main-menu > li a {
    background: #243152;
    height: min-content;
    width: 100%;
}

#nav ul.main-menu > li a.active {
    background: white;
    color: #233152;
}

#nav ul.main-menu > li a.active {}

#nav ul.main-menu > li a i {
    height: 50px;
    position: relative;
    display: block;
    line-height: 1.5;
}

.back-icons a {
    background: #233152;
    border-radius: 0;
    width: auto;
    padding: 17px;
    letter-spacing: 0;
}

.back-icons a .fa-arrow-circle-left {font-size: 28px;line-height: 0;position: relative;top: -22px;right: 5px;}

.site-bg {
    background-image: none;
    background: #0c1015;
}

.logo-top-margin a.site-brand {
    /* color: #233152; */
}

.logo-holder.logo-top-margin {
    margin-top: 20px !important;
}

.subscribe-form {
    margin-top: 30px;
}

.subscribe-form input {
    position: relative;
    margin: 5px;
    width: auto;
}

.subscribe-form fieldset div {width: 100%;margin: 0px 0px 0px 15px;display: block;position: relative;}